:root {
    --title-color1:rgb(61, 38, 154);
    --title-color2:rgb(42, 7, 92);
    --main-color1:rgb(241, 242, 248);
    --main-color2:rgb(153, 153, 153);
    --stocks-row1:150px;
    --stocks-row2:100px;
    --stocks-row3:95px;
    --stocks-row4:120px;
    --stocks-row5:25px;
}