.nav {
    width: 100%;
}

.nav__list {
    display: flex;
    background-color: gray
}

.nav__list a {
    text-decoration: none;
}

.nav__list li {
    height: 80px;
}

.nav__list__menu {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    margin-right: 8px;
}

.nav__list__menu div:first-child,
.nav__list__menu div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list__menu div:first-child {
    flex-direction: column;
    background-color: #c0578b;
    color: white;
    height: 70%;
}

.nav__list__menu div:first-child i {
    font-size: 20px;
    margin-bottom: 5px;
}

.nav__list__menu div:first-child span {
    font-size: 12px;
}

.nav__list__menu div:last-child {
    height: 30%;
    color: #5f2241;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
}

.nav__list__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    color: rgb(197, 197, 197);
    margin-right: 1px;
}

.nav__list__btn i {
    font-size: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.nav__list__btn span {
    font-size: 15px;
    font-weight: 600;
}

.nav__list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 0.4;
    margin-right: 1px;
}

.nav__list__btn-curpage {
    color: #c0578b;
    background-color: rgb(50, 50, 50);
}